<!DOCTYPE html>
{% extends "base.html" %}
{% load url from future %}

{% block title %}Persons site{% endblock %}

{% block content %}
	{% if p.id == None %}
		{%for person in persons%}
		  <a href="{% url 'person_detail_view' person.id %}"> <h3>{{ person.name }}</h3></a>
		{% endfor %}

	{%else%}
<h3>Person Name :{{p.name}}<h3>
<h3>Person Age : {{p.age}}<h3>
{% endif %}
{% endblock %}

<!-- {% url '' person.id%} -->